.main-form{
    width: 600px;
    margin: auto;
}
h3{
     float: right;
     border-bottom-style: ridge;
}

// .form-container{
//     //background: #fff;
//     //background-size: 500px;
//     //padding: 11%;
//     padding-top: 2%;
//     //padding-bottom: 22%;
    
//     border-radius: 10px;
//     //box-shadow: 0px 0px 20px 0px #000;
// }