<div class="register-block">
<div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
          <div id="ui">
              <h2>REGISTRATION FORM</h2>
              <form class="form-group text-center">
                  <div class="row">

                      <div class="col-lg-6">
                          <label>First Name:</label>
                          <input type="text" name="username" placeholder="Enter first name" class="form-control">
                      </div>

                      <div class="col-lg-6">
                        <label>Last Name:</label>
                        <input type="text" name="username" placeholder="Enter last name" class="form-control">
                    </div>

                  </div>
                    <br>
                      <label>E-mail:</label>
                      <input type="email" name="email" placeholder="Enter E-mail" class="form-control">
                      <br>
                      <div class="row">

                          <div class="col-lg-6">
                              <label>Password:</label>
                              <input type="password" name="password" placeholder="Enter password" class="form-control">
                          </div>
    
                          <div class="col-lg-6">
                            <label>Re-type Password:</label>
                            <input type="password" name="re-password" placeholder="Enter Re-password" class="form-control">
                        </div>
    
                      </div>
                      <br>
                      
                      <input type="submit" name="submit" value="submit" class="btn btn-primary">
                    
              </form>
          </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>
</div>