.register-block{
    background: url("https://static.digit.in/default/d82cfcbc332e14e49448187be2df463cee82468a.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-attachment: fixed;
}

#ui{
    background-color: aliceblue;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 0.9;
}
#ui label{
    color: #333;
}
h2{
    text-align: center; 
    color: orangered;
    font-weight: 700;
}