@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
.mapContent {
  height: 100%;
  width: 100%;
  // overflow-y: scroll;
}
#accordion {
  .card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;

    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1px;
    border: none;
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-header {
    background-color: #303f9f;
    margin-bottom: 0;
    padding: 14px 1.25rem;
    border: none;
    a i {
      float: left;
      font-size: 16px;
      padding: 5px 0;
      margin: 0 25px 0 0px;
      color: #195c9d;
    }
    i {
      float: right;
      font-size: 30px;
      width: 1%;
      margin-top: 8px;
      margin-right: 10px;
    }
    a {
      width: 97%;
      float: left;
      color: #565656;
    }
    p {
      margin: 0;
      color: black;
    }
    h4 {
      margin: 0 0 0px;
      font-size: 16px;
      font-family: "Slabo 27px", serif;
      font-weight: bold;
      //color:#3fc199;
      color: #fbc02d;
    }
  }
  .card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 10px;
    color: #232323;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px soild #000;
    border-radius: 0;
  }
}

.card_info {
  .card-body {
    .row {
      .card-text {
        // padding: 0px;
        margin: 0;
      }
    }
  }
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}